@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body, header, h1, h2, div, footer {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #323232;
}

img {
    max-width: 90%;
    max-height: 90%;
}

article {
    max-width: 100%;
    max-height: 100%;
}
/* Headings and logo */
header {
    float: left;
    width: 100%; 
    height: 100px; 
    outline: solid #323232;
}

body {
    background-color: #DDD0C8;
    
}

h1 {
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #323232;
}

#logo {
    float: left;
    font-size: 220%;
    margin-left: 30px;
    line-height: 75px;
}

#menu {
    font-size: 100%;
    letter-spacing: 5px;
    box-sizing: border-box;
    margin-right: 30px;
    line-height: 75px;

}

#menu, #logo {
    line-height: 70px;
    margin-top: 15px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-left: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #323232;
}

.active {
    border-bottom: 1px solid #323232;
}

/* Main-page information and pictures */
#center-div {
   display: flex;
   flex-direction: row;  
}

#left-cover-bg {
   flex: 1;
   padding-top: 4%;
   margin-left: 5%;
   margin-right: 5%;
}

#center-right-sideinfo {
  flex: 2;
  text-align: center;
  padding-top: 15%;
  margin-right: 5%;
}
/* Portfolio picture */
.gallery-image {
   display: block;
   margin-left: 220px;
}

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    outline: solid #323232;
    background-color: #cc9e83;
    z-index: 1;
    padding: 20px;
}

#copyright {
    position: relative;
    text-align: center;
    color: #3a3a3a
}

#socials {
    position: relative;
    text-align: center;
    color: #3a3a3a
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    color: #3a3a3a;
    margin-left: 1%;
    margin-right: 1%;
    padding-top: 1%;
}

/* Contact me form */
.form {
    margin-left: auto;
    margin-right: auto;
}

input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    justify-content: center;
  }
  
input[type=submit] {
    background-color: #cc9e83;
    color: #3a3a3a;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a lighter orange color */
  input[type=submit]:hover {
    background-color: #d8aa90;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: #DDD0C8;
  }
 
 .form {
    margin-top: 5%;
 }

/* Media queries */

/* For large to medium screen size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #logo {
        font-size: 100%;
    }

    #menu {
        font-size: 80%;
    }
    
    #left-cover-bg, #center-right-sideinfo {
        width: 100%;
        float: left;
         
    }
}
/*  For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
    #head {
      width: 100%;
    }
    
    #menu {
        display: flex;
    }

    #center-div {
        display: flex;
        flex-direction: column-reverse;
    }

    #center-right-sideinfo p, #center-right-sideinfo h2 {
        text-align: center;
        
       }
}

    /* For small screen sizes 800px and down */
    @media screen and (max-width: 800px) {  
    #head {
        width: 800px; 
        height: 120px;
        float: left; 
        outline: solid #3a3a3a;
    }

    #logo {
        line-height: 20px;
    }

    hr {
        width: 100%;
    }
        
    #menu {
        float: left;
        font-size: 60%;
        
    }

    #center-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    #left-cover-bg {
        margin-bottom: 120px;
        flex-basis: 950px;
    }
        
    #center-right-sideinfo {
        padding-top: 3%;
        order: -1;   
    }
}

/* For small screen sizes 800px and down */
@media screen and (max-width: 400px) {
    #menu {
        float: left;
        font-size: 50%;
        
    }
}